#aboutme-section h2{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    text-decoration: underline;
} 
#aboutme-section p{
    font-size: 30px;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid gray;
    padding: 15px;
    
}
body{
    background-color: skyblue;

.header-content {
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.section-heading h2{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    text-decoration: underline;
}














