#aboutme-section h2{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    text-decoration: underline;
} 
#aboutme-section p{
    font-size: 30px;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid gray;
    padding: 15px;
    
}
body{
    background-color: skyblue;
}

.header-content {
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#section-heading h2{
    text-align: center;
}
.web{
    text-align: center;
    top: -400px;
    margin-top: 1px;
    color: #fff;
    margin: 7px 12px;
    position: relative;
    right: -60;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
}
.desc p{
    text-align: center;
    top: -400px;
    margin-top: 1px;
    color: black;
    margin: 7px 12px;
    position: relative;
    font-size: 25px;
    font-weight: normal;
    right: -110px;
}

















