body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
.header{
    background: url(nature.webp);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 
.nav{
    text-align: center;
    padding: 20px;
} 
.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: sans-serif;
    margin-right: 80px;
    border: 2px solid transparent;
    padding: 10px;
    transition: 0.3s;
} 
.nav a:hover{
    background: #000;
    border: 2px solid #fff;
} 

.header-content {
    text-align: center;
}
.header-content img{
    border-radius: ro 50px;
    border: 2px solid #fff;
     margin-top: 20px;
    }
.header-content img:hover{
    border: 2px solid #000;
}
.name{
    cursor: pointer;
    font-size: 50px;
    color: #fff;
    font-family: sans-serif;
    font-style:italic ;
}
.txt{
    cursor: pointer;
    font-family: sans-serif ;
    font-size: 30px;
    color: #fff;
    font-style: italic;
}
#about-section h2{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    text-decoration: underline;
} 
#about-section p{
    font-size: 30px;
    width: 1000px;
    font-family: roboto;
    text-align: center;
    margin: 0 auto;
    border: 2px solid gray;
    padding: 15px;
}
body{
    background-color: skyblue;
    font-family: 'Poppins', sans-serif;

}

#contactme{
    font-size: 16px;
    width: 80%;
    margin: 50px auto;
    
} 
.contact-box{
    background: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #1c00b5 ;
    color: #fff;
    
}
.contact-box h1{
    margin-bottom: 10px;
}
.contactme p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
button{
    background: #1c00b5;
    width: 100px;
    bottom: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.contact-left h1{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h1{
    font-weight: 600;
    margin-bottom: 30px
}
tr td:first-child{
    padding-right: 20px;
    padding-top: 20px;
}




















