body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
.header{
    background: url(nature.webp);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 
.nav{
    text-align: center;
    padding: 20px;
} 
.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: sans-serif;
    margin-right: 80px;
    border: 2px solid transparent;
    padding: 10px;
    transition: 0.3s;
} 
.nav a:hover{
    background: #000;
    border: 2px solid #fff;
} 

.header-content {
    text-align: center;
}
.header-content img{
    border-radius: ro 50px;
    border: 2px solid #fff;
     margin-top: 20px;
    }
.header-content img:hover{
    border: 2px solid #000;
}
.name{
    cursor: pointer;
    font-size: 50px;
    color: #fff;
    font-family: sans-serif;
    font-style:italic ;
}
.txt{
    cursor: pointer;
    font-family: sans-serif ;
    font-size: 30px;
    color: #fff;
    font-style: italic;
}
#about-section h2{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    text-decoration: underline;
} 
#about-section p{
    font-size: 30px;
    width: 1000px;
    font-family: roboto;
    text-align: center;
    margin: 0 auto;
    border: 2px solid gray;
    padding: 15px;
}     