body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
.header{
    background: url(nature.webp);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 
.nav{
    text-align: center;
    padding: 20px;
} 
.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: sans-serif;
    margin-right: 80px;
    border: 2px solid transparent;
    padding: 10px;
    transition: 0.3s;
} 
.nav a:hover{
    background: #000;
    border: 2px solid #fff;
} 

.header-content {
    text-align: center;
} 
.header-content img{
    border-radius: 50px;
    border: 2px solid #fff;
     
    
}  